@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dft-color-primary-50: 0.962 0.018 272.314; /* oklch(.962 .018 272.314) */
    --dft-color-primary-100: 0.93 0.034 272.788; /* oklch(.93 .034 272.788) */
    --dft-color-primary-200: 0.87 0.065 274.039; /* oklch(.87 .065 274.039) */
    --dft-color-primary-300: 0.785 0.115 274.713; /* oklch(.785 .115 274.713) */
    --dft-color-primary-400: 0.673 0.182 276.935; /* oklch(.673 .182 276.935) */
    --dft-color-primary-500: 0.585 0.233 277.117; /* oklch(.585 .233 277.117) */
    --dft-color-primary-600: 0.511 0.262 276.966; /* oklch(.511 .262 276.966) */
    --dft-color-primary-700: 0.457 0.24 277.023; /* oklch(.457 .24 277.023) */
    --dft-color-primary-800: 0.398 0.195 277.366; /* oklch(.398 .195 277.366) */
    --dft-color-primary-900: 0.359 0.144 278.697; /* oklch(.359 .144 278.697) */
    --dft-color-primary-950: 0.289 0.092 279.918; /* oklch(.269 .098 279.918) */

    --dft-color-gray-50: 0.985 0.002 247.839; /* oklch(.985 .002 247.839) */
    --dft-color-gray-100: 0.967 0.003 264.542; /* oklch(.967 .003 264.542) */
    --dft-color-gray-200: 0.928 0.006 264.531; /* oklch(.928 .006 264.531) */
    --dft-color-gray-300: 0.872 0.01 258.338; /* oklch(.872 .01 258.338) */
    --dft-color-gray-400: 0.707 0.022 261.325; /* oklch(.707 .022 261.325) */
    --dft-color-gray-500: 0.551 0.027 264.364; /* oklch(.551 .027 264.364) */
    --dft-color-gray-600: 0.446 0.03 256.802; /* oklch(.446 .03 256.802) */
    --dft-color-gray-700: 0.373 0.034 259.733; /* oklch(.373 .034 259.733) */
    --dft-color-gray-800: 0.278 0.033 256.848; /* oklch(.278 .033 256.848) */
    --dft-color-gray-900: 0.21 0.034 264.665; /* oklch(.21 .034 264.665) */
    --dft-color-gray-950: 0.13 0.028 261.692; /* oklch(.13 .028 261.692) */

    --dft-color-white: 100% 0 0; /* oklch(100% 0 0) */
    --dft-color-black: 0% 0 0; /* oklch(0% 0 0) */
    --dft-color-destructive: 56.92% 0.21 25.92; /* oklch(56.92% 0.21 25.92) */

    --dft-color-background: var(--dft-color-white);
    --dft-color-foreground: var(--dft-color-gray-950);

    --dft-background: var(--dft-color-background);
    --dft-foreground: var(--dft-color-foreground);
    --dft-card: var(--dft-color-background);
    --dft-card-foreground: var(--dft-color-foreground);
    --dft-popover: var(--dft-color-background);
    --dft-popover-foreground: var(--dft-color-foreground);
    --dft-primary: var(--dft-color-primary-600);
    --dft-primary-foreground: var(--dft-color-white);
    --dft-secondary: var(--dft-color-gray-200);
    --dft-secondary-foreground: var(--dft-color-foreground);
    --dft-muted: var(--dft-color-gray-200);
    --dft-muted-foreground: var(--dft-color-gray-600);
    --dft-accent: var(--dft-color-gray-100);
    --dft-accent-foreground: var(--dft-color-foreground);
    --dft-destructive: var(--dft-color-destructive);
    --dft-destructive-foreground: var(--dft-color-white);
    --dft-border: var(--dft-color-gray-200);
    --dft-input: var(--dft-color-gray-200);
    --dft-ring: var(--dft-color-primary-600);
    --dft-link: var(--dft-color-primary-600);

    --dft-chart-1: 55.65% 0.24 261.95; /* oklch(55.65% 0.24 261.95) */
    --dft-chart-2: 62.91% 0.1 192.36; /* oklch(62.91% 0.1 192.36) */
    --dft-chart-3: 66.89% 0.19 357.26; /* oklch(66.89% 0.19 357.26) */
    --dft-chart-4: 64.06% 0.16 246.5; /* oklch(64.06% 0.16 246.5) */
    --dft-chart-5: 66.62% 0.2 22.13; /* oklch(66.62% 0.2 22.13) */

    --dft-radius: 0.4rem;

    --dft-sidebar-background: var(--dft-background);
    --dft-sidebar-foreground: var(--dft-color-gray-800);
    --dft-sidebar-primary: var(--dft-primary);
    --dft-sidebar-primary-foreground: var(--dft-primary-foreground);
    --dft-sidebar-accent: var(--dft-accent);
    --dft-sidebar-accent-foreground: var(--dft-accent-foreground);
    --dft-sidebar-border: var(--dft-border);
    --dft-sidebar-ring: var(--dft-ring);
  }
  .dark {
    --dft-color-background: var(--dft-color-gray-950);
    --dft-color-foreground: var(--dft-color-white);

    --dft-background: var(--dft-color-background);
    --dft-foreground: var(--dft-color-foreground);
    --dft-card: var(--dft-color-background);
    --dft-card-foreground: var(--dft-color-foreground);
    --dft-popover: var(--dft-color-background);
    --dft-popover-foreground: var(--dft-color-foreground);
    --dft-primary: var(--dft-color-primary-600);
    --dft-primary-foreground: var(--dft-color-foreground);
    --dft-secondary: var(--dft-color-gray-800);
    --dft-secondary-foreground: var(--dft-color-foreground);
    --dft-muted: var(--dft-color-gray-800);
    --dft-muted-foreground: var(--dft-color-gray-400);
    --dft-layer: var(--dft-color-gray-900);
    --dft-layer-foreground: var(--dft-color-foreground);
    --dft-accent: var(--dft-color-gray-900);
    --dft-accent-foreground: var(--dft-color-foreground);
    --dft-destructive: var(--dft-color-destructive);
    --dft-destructive-foreground: var(--dft-color-foreground);
    --dft-border: var(--dft-color-gray-800);
    --dft-input: var(--dft-color-gray-800);
    --dft-ring: var(--dft-color-gray-100);

    --dft-chart-1: 62.65% 0.24 261.95; /* oklch(62.65% 0.24 261.95) */
    --dft-chart-2: 68.91% 0.1 192.36; /* oklch(68.91% 0.1 192.36) */
    --dft-chart-3: 69.89% 0.19 357.26; /* oklch(69.89% 0.19 357.26) */
    --dft-chart-4: 69.06% 0.16 246.5; /* oklch(69.06% 0.16 246.5) */
    --dft-chart-5: 69.62% 0.2 22.13; /* oklch(69.62% 0.2 22.13) */

    --dft-sidebar-background: var(--dft-background);
    --dft-sidebar-foreground: var(--dft-color-gray-200);
    --dft-sidebar-primary: var(--dft-primary);
    --dft-sidebar-primary-foreground: var(--dft-primary-foreground);
    --dft-sidebar-accent: var(--dft-accent);
    --dft-sidebar-accent-foreground: var(--dft-accent-foreground);
    --dft-sidebar-border: var(--dft-border);
    --dft-sidebar-ring: var(--dft-ring);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
