/* IBM Plex Mono */
/* IBM Plex Sans */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*
    - `--spectrum-indigo-100`
    - **value**: rgb(237, 238, 255) -> rgb(247, 248, 255) (light)
    - **value**: rgb(40, 44, 140) -> rgb(30, 0, 93) (dark)
  - `--spectrum-indigo-200`
    - **value**: rgb(224, 226, 255) -> rgb(235, 238, 255) (light)
    - **value**: rgb(47, 52, 163) -> rgb(35, 0, 110) (dark)
  - `--spectrum-indigo-300`
    - **value**: rgb(211, 213, 255) -> rgb(216, 222, 255) (light)
    - **value**: rgb(57, 63, 187) -> rgb(47, 0, 140) (dark)
  - `--spectrum-indigo-400`
    - **value**: rgb(193, 196, 255) -> rgb(192, 201, 255) (light)
    - **value**: rgb(70, 75, 211) -> rgb(62, 12, 174) (dark)
  - `--spectrum-indigo-500`
    - **value**: rgb(172, 175, 255) -> rgb(167, 178, 255) (light)
    - **value**: rgb(85, 91, 231) -> rgb(79, 30, 209) (dark)
  - `--spectrum-indigo-600`
    - **value**: rgb(149, 153, 255) -> rgb(145, 151, 254) (light)
    - **value**: rgb(104, 109, 244) -> rgb(95, 52, 235) (dark)
  - `--spectrum-indigo-700`
    - **value**: rgb(126, 132, 252) -> rgb(132, 128, 254) (light)
    - **value**: rgb(124, 129, 251) -> rgb(109, 75, 248) (dark)
  - `--spectrum-indigo-800`
    - **value**: rgb(104, 109, 244) -> rgb(122, 106, 253) (light)
    - **value**: rgb(145, 149, 255) -> rgb(116, 91, 252) (dark)
  - `--spectrum-indigo-900`
    - **value**: rgb(82, 88, 228) -> rgb(113, 85, 250) (light)
    - **value**: rgb(167, 170, 255) -> rgb(128, 119, 254) (dark)
  - `--spectrum-indigo-1000`
    - **value**: rgb(64, 70, 202) -> rgb(99, 56, 238) (light)
    - **value**: rgb(188, 190, 255) -> rgb(139, 141, 254) (dark)
  - `--spectrum-indigo-1100`
    - **value**: rgb(50, 54, 168) -> rgb(84, 36, 219) (light)
    - **value**: rgb(208, 210, 255) -> rgb(153, 161, 255) (dark)
  - `--spectrum-indigo-1200`
    - **value**: rgb(38, 41, 134) -> rgb(69, 19, 191) (light)
    - **value**: rgb(226, 228, 255) -> rgb(176, 186, 255) (dark)
  - `--spectrum-indigo-1300`
    - **value**: rgb(27, 30, 100) -> rgb(55, 6, 160) (light)
    - **value**: rgb(243, 243, 254) -> rgb(199, 208, 255) (dark)
  - `--spectrum-indigo-1400`
    - **value**: rgb(20, 22, 72) -> rgb(42, 0, 129) (light)
    - **value**: rgb(255, 255, 255) -> rgb(223, 228, 255) (dark)


    - `--spectrum-red-100`
    - **value**: rgb(255, 235, 231) -> rgb(255, 246, 245) (light)
    - **value**: rgb(123, 0, 0) -> rgb(54, 10, 3) (dark)
  - `--spectrum-red-200`
    - **value**: rgb(255, 221, 214) -> rgb(255, 235, 232) (light)
    - **value**: rgb(141, 0, 0) -> rgb(68, 13, 5) (dark)
  - `--spectrum-red-300`
    - **value**: rgb(255, 205, 195) -> rgb(255, 214, 209) (light)
    - **value**: rgb(165, 0, 0) -> rgb(87, 17, 7) (dark)
  - `--spectrum-red-400`
    - **value**: rgb(255, 183, 169) -> rgb(255, 188, 180) (light)
    - **value**: rgb(190, 4, 3) -> rgb(115, 24, 11) (dark)
  - `--spectrum-red-500`
    - **value**: rgb(255, 155, 136) -> rgb(255, 157, 145) (light)
    - **value**: rgb(215, 25, 19) -> rgb(147, 31, 17) (dark)
  - `--spectrum-red-600`
    - **value**: rgb(255, 124, 101) -> rgb(255, 118, 101) (light)
    - **value**: rgb(234, 56, 41) -> rgb(177, 38, 23) (dark)
  - `--spectrum-red-700`
    - **value**: rgb(247, 92, 70) -> rgb(255, 81, 61) (light)
    - **value**: rgb(246, 88, 67) -> rgb(205, 46, 29) (dark)
  - `--spectrum-red-800`
    - **value**: rgb(234, 56, 41) -> rgb(240, 56, 35) (light)
    - **value**: rgb(255, 117, 94) -> rgb(223, 52, 34) (dark)
  - `--spectrum-red-900`
    - **value**: rgb(211, 21, 16) -> rgb(215, 50, 32) (light)
    - **value**: rgb(255, 149, 129) -> rgb(252, 67, 46) (dark)
  - `--spectrum-red-1000`
    - **value**: rgb(180, 0, 0) -> rgb(183, 40, 24) (light)
    - **value**: rgb(255, 176, 161) -> rgb(255, 103, 86) (dark)
  - `--spectrum-red-1100`
    - **value**: rgb(147, 0, 0) -> rgb(156, 33, 19) (light)
    - **value**: rgb(255, 201, 189) -> rgb(255, 134, 120) (dark)
  - `--spectrum-red-1200`
    - **value**: rgb(116, 0, 0) -> rgb(129, 27, 14) (light)
    - **value**: rgb(255, 222, 216) -> rgb(255, 167, 157) (dark)
  - `--spectrum-red-1300`
    - **value**: rgb(89, 0, 0) -> rgb(104, 21, 10) (light)
    - **value**: rgb(255, 241, 238) -> rgb(255, 196, 189) (dark)
  - `--spectrum-red-1400`
    - **value**: rgb(67, 0, 0) -> rgb(80, 16, 6) (light)
    - **value**: rgb(255, 255, 255) -> rgb(255, 222, 219) (dark)




    LIGHT THEME
    --spctm-color-gray-50: #ffffff;
    --spctm-color-gray-50: #fdfdfd;
    --spctm-color-gray-100: #f8f8f8;
    --spctm-color-gray-200: #e6e6e6;
    --spctm-color-gray-300: #d5d5d5;
    --spctm-color-gray-400: #b1b1b1;
    --spctm-color-gray-500: #909090;
    --spctm-color-gray-600: #6d6d6d;
    --spctm-color-gray-700: #464646;
    --spctm-color-gray-800: #222222;
    --spctm-color-gray-900: #1a1a1a;
    --spctm-color-gray-950: #000000;

     ________________________________

    --spctm-color-gray-50: #fdfdfd;
    --spctm-color-gray-100: #f8f8f8;
    --spctm-color-gray-200: #e6e6e6;
    --spctm-color-gray-300: #d5d5d5;
    --spctm-color-gray-400: #b1b1b1;
    --spctm-color-gray-500: #909090;
    --spctm-color-gray-600: #6d6d6d;
    --spctm-color-gray-700: #464646;
    --spctm-color-gray-800: #222222;
    --spctm-color-gray-900: #000000;
    --spctm-color-gray-950: #000000;

    --spctm-color-blue-500: #3892f3;
    --spctm-color-blue-600: #147af3;
    --spctm-color-blue-700: #0265dc;

    --spctm-color-indigo-500: #686df4;
    --spctm-color-indigo-600: #5258e4;
    --spctm-color-indigo-700: #4046ca;


    DARK THEME
    --spctm-color-gray-50: #ffffff;
    --spctm-color-gray-50: #ebebeb;
    --spctm-color-gray-100: #d1d1d1;
    --spctm-color-gray-200: #b2b2b2;
    --spctm-color-gray-300: #909090;
    --spctm-color-gray-400: #707070;
    --spctm-color-gray-500: #545454;
    --spctm-color-gray-600: #3f3f3f;
    --spctm-color-gray-700: #323232;
    --spctm-color-gray-800: #262626;
    --spctm-color-gray-900: #1d1d1d;
    --spctm-color-gray-950: #0e0e0e;

    ________________________________

    --spctm-color-gray-50: #1d1d1d;
    --spctm-color-gray-100: #262626;
    --spctm-color-gray-200: #323232;
    --spctm-color-gray-300: #3f3f3f;
    --spctm-color-gray-400: #545454;
    --spctm-color-gray-500: #909090;
    --spctm-color-gray-600: #b2b2b2;
    --spctm-color-gray-700: #d1d1d1;
    --spctm-color-gray-800: #ebebeb;
    --spctm-color-gray-900: #ffffff;
    --spctm-color-gray-950: #ffffff;

    --spctm-color-blue-500: #0367e0;
    --spctm-color-blue-600: #0059c2;
    --spctm-color-blue-700: #1379f3;

    --spctm-color-indigo-500: #555be7;
    --spctm-color-indigo-600: #464bd3;
    --spctm-color-indigo-700: #686df4;


      DARKEST THEME
    --spctm-color-gray-50: #ffffff;
    --spctm-color-gray-50: #ebebeb;
    --spctm-color-gray-100: #d1d1d1;
    --spctm-color-gray-200: #b2b2b2;
    --spctm-color-gray-300: #909090;
    --spctm-color-gray-400: #707070;
    --spctm-color-gray-500: #545454;
    --spctm-color-gray-600: #3f3f3f;
    --spctm-color-gray-700: #323232;
    --spctm-color-gray-800: #262626;
    --spctm-color-gray-900: #1d1d1d;
    --spctm-color-gray-950: #0e0e0e;
    _______________________________

    --spctm-color-gray-50: #0e0e0e;
    --spctm-color-gray-100: #1d1d1d;
    --spctm-color-gray-200: #303030;
    --spctm-color-gray-300: #4b4b4b;
    --spctm-color-gray-400: #6a6a6a;
    --spctm-color-gray-500: #8d8d8d;
    --spctm-color-gray-600: #b0b0b0;
    --spctm-color-gray-700: #d0d0d0;
    --spctm-color-gray-800: #ebebeb;
    --spctm-color-gray-900: #ffffff;
    --spctm-color-gray-950: #ffffff;

    --spctm-color-blue-500: #0367e0;
    --spctm-color-blue-600: #0059c2;
    --spctm-color-blue-700: #1379f3;

    --spctm-color-indigo-500: #555be7;
    --spctm-color-indigo-600: #464bd3;
    --spctm-color-indigo-700: #686df4;


    */

    /* oklch */
    --spt-color-primary-100: 96.7% 0.015 253.9; /* oklch(96.7% 0.015 253.90) */
    --spt-color-primary-200: 90.85% 0.04 259.95; /* oklch(90.85% 0.04 259.95) */
    --spt-color-primary-300: 82.76% 0.08 259.89; /* oklch(82.76% 0.08 259.89) */
    --spt-color-primary-400: 73.65% 0.13 261.08; /* oklch(73.65% 0.13 261.08) */
    --spt-color-primary-500: 64.7% 0.18 260.58; /* oklch(64.7% 0.18 260.58) */
    --spt-color-primary-600: 55.65% 0.24 261.95; /* oklch(55.65% 0.24 261.95) */
    --spt-color-primary-700: 45.4% 0.22 262.63; /* oklch(45.4% 0.22 262.63) */
    --spt-color-primary-800: 36.3% 0.18 263.05; /* oklch(36.3% 0.18 263.05) */
    --spt-color-primary-900: 27.96% 0.14 262.95; /* oklch(27.96% 0.14 262.95) */
    --spt-color-primary-950: 20.44% 0.09 262.03; /* oklch(20.44% 0.09 262.03) */

    --spt-color-gray-100: 96.72% 0 89.87; /* oklch(96.72% 0 56.87) */
    --spt-color-gray-200: 90.67% 0 89.87; /* oklch(90.67% 0 56.87) */
    --spt-color-gray-300: 82.66% 0 89.87; /* oklch(82.66% 0 56.87) */
    --spt-color-gray-400: 73.16% 0 89.87; /* oklch(73.16% 0 56.87) */
    --spt-color-gray-500: 64.34% 0 89.87; /* oklch(64.34% 0 56.87) */
    --spt-color-gray-600: 54.17% 0 89.87; /* oklch(54.17% 0 56.87) */
    --spt-color-gray-700: 43.86% 0 89.87; /* oklch(43.86% 0 56.87) */
    --spt-color-gray-800: 28.46% 0 89.87; /* oklch(31.46% 0 56.87) */
    --spt-color-gray-900: 23.86% 0 89.87; /* oklch(26.86% 0 56.87) */
    --spt-color-gray-950: 20.02% 0 89.87; /* oklch(20.02% 0 56.87) */

    --spt-color-white: 100% 0 0; /* oklch(100% 0 0) */
    --spt-color-black: 0% 0 0; /* oklch(0% 0 0) */
    --spt-color-destructive: 56.92% 0.21 25.92; /* oklch(56.92% 0.21 25.92) */

    --spt-color-background: var(--spt-color-white);
    --spt-color-foreground: var(--spt-color-gray-950);

    --spt-background: var(--spt-color-background);
    --spt-foreground: var(--spt-color-foreground);
    --spt-card: var(--spt-color-background);
    --spt-card-foreground: var(--spt-color-foreground);
    --spt-popover: var(--spt-color-background);
    --spt-popover-foreground: var(--spt-color-foreground);
    --spt-primary: var(--spt-color-primary-600);
    --spt-primary-foreground: var(--spt-color-white);
    --spt-secondary: var(--spt-color-gray-200);
    --spt-secondary-foreground: var(--spt-color-foreground);
    --spt-muted: var(--spt-color-gray-200);
    --spt-muted-foreground: var(--spt-color-gray-600);
    --spt-accent: var(--spt-color-gray-100);
    --spt-accent-foreground: var(--spt-color-foreground);
    --spt-destructive: var(--spt-color-destructive);
    --spt-destructive-foreground: var(--spt-color-white);
    --spt-border: var(--spt-color-gray-200);
    --spt-input: var(--spt-color-gray-100);
    --spt-ring: var(--spt-color-primary-600);

    --spt-chart-1: 55.65% 0.24 261.95; /* oklch(55.65% 0.24 261.95) */
    --spt-chart-2: 62.91% 0.1 192.36; /* oklch(62.91% 0.1 192.36) */
    --spt-chart-3: 66.89% 0.19 357.26; /* oklch(66.89% 0.19 357.26) */
    --spt-chart-4: 64.06% 0.16 246.5; /* oklch(64.06% 0.16 246.5) */
    --spt-chart-5: 66.62% 0.2 22.13; /* oklch(66.62% 0.2 22.13) */

    --spt-radius: 0rem;

    --spt-sidebar-background: var(--spt-background);
    --spt-sidebar-foreground: var(--spt-color-gray-800);
    --spt-sidebar-primary: var(--spt-primary);
    --spt-sidebar-primary-foreground: var(--spt-primary-foreground);
    --spt-sidebar-accent: var(--spt-accent);
    --spt-sidebar-accent-foreground: var(--spt-accent-foreground);
    --spt-sidebar-border: var(--spt-border);
    --spt-sidebar-ring: var(--spt-ring);
  }
  .dark {
    --spt-color-background: var(--spt-color-gray-950);
    --spt-color-foreground: var(--spt-color-white);

    --spt-background: var(--spt-color-background);
    --spt-foreground: var(--spt-color-foreground);
    --spt-card: var(--spt-color-gray-900);
    --spt-card-foreground: var(--spt-color-foreground);
    --spt-popover: var(--spt-color-gray-900);
    --spt-popover-foreground: var(--spt-color-foreground);
    --spt-primary: var(--spt-color-primary-600);
    --spt-primary-foreground: var(--spt-color-foreground);
    --spt-secondary: var(--spt-color-gray-800);
    --spt-secondary-foreground: var(--spt-color-foreground);
    --spt-muted: var(--spt-color-gray-800);
    --spt-muted-foreground: var(--spt-color-gray-400);
    --spt-accent: var(--spt-color-gray-800);
    --spt-accent-foreground: var(--spt-color-foreground);
    --spt-destructive: var(--spt-color-destructive);
    --spt-destructive-foreground: var(--spt-color-foreground);
    --spt-border: var(--spt-color-gray-800);
    --spt-input: var(--spt-color-gray-800);
    --spt-ring: var(--spt-color-gray-100);

    --spt-chart-1: 62.65% 0.24 261.95; /* oklch(62.65% 0.24 261.95) */
    --spt-chart-2: 68.91% 0.1 192.36; /* oklch(68.91% 0.1 192.36) */
    --spt-chart-3: 69.89% 0.19 357.26; /* oklch(69.89% 0.19 357.26) */
    --spt-chart-4: 69.06% 0.16 246.5; /* oklch(69.06% 0.16 246.5) */
    --spt-chart-5: 69.62% 0.2 22.13; /* oklch(69.62% 0.2 22.13) */

    --spt-sidebar-background: var(--spt-background);
    --spt-sidebar-foreground: var(--spt-color-gray-200);
    --spt-sidebar-primary: var(--spt-primary);
    --spt-sidebar-primary-foreground: var(--spt-primary-foreground);
    --spt-sidebar-accent: var(--spt-accent);
    --spt-sidebar-accent-foreground: var(--spt-accent-foreground);
    --spt-sidebar-border: var(--spt-border);
    --spt-sidebar-ring: var(--spt-ring);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
